body {
	font-family: Roboto, sans-serif;
}

.container {
	max-width: 98%;
	width: 98%;
}

.filemanager {
	width: 100%;
	max-width: 100%;
	.data li {
		width: 23%;
		height: 282px;
		margin-bottom: 1.6%;
		margin-right: 2%;
		@media screen and(max-width:1440px) {
			width: 31%;
		}
		
		@media screen and(max-width:980px) {
			width: 48%;
		}
		
		@media screen and(max-width:720px) {
			width: 100%;
			margin: 5px 0;
		}
		> a {
			color: white; 
			&:link, &:visited, &:hover, &:active {
				color: white; 
				text-decoration: none;
			}
		}
		&.photo {
			&:hover {
				.info {
					background: rgba(0,0,0,0.6);
					opacity: 1;
					transition: background,opacity 0.3s;
				}
				.description {
					display: block; 
				}
			}
			a.files {
				background-size: cover;
			}
			.mime-icon {
				display: none;
			}
			.info {
				background: rgba(0,0,0,0.3);
				padding: 0.5rem;
				position: absolute;
				bottom: 0;
				width: 100%;
				opacity: 0.5;
			}
			.name {
				display: inline-block; 
				color: white;
				position: static;
				float: right;
				width: auto;
				line-height: 1.7;
			}
			.description {
				font-size: 1rem; 
				font-weight: 300; 
				text-shadow: 1px 1px 0 rgba(0,0,0,1);
				line-height: 1.2;
				display: none;
			}
		}
	}
	.artist {
		display: inline-block;
		padding: 0.25rem 0.6rem;
		border-radius: 4px;
		background: rgba(0,0,0,0.6);
		font-size: 0.8rem;
		font-weight: 600;
		.icon {
			margin-right: 0.35rem;
		}
	}
}
.photo-info {
	.mini {
		margin-right: 0.5rem;
		color: rgba(255,255,255,0.7);
	}

	.lead {
		font-weight: 500;
		font-size: 1.1em;
		display: block;
	}

	.keyword {
		background: rgba(255,255,255,0.1);
		margin-right: 0.5rem;
		font-weight: 300;
		&:hover {
			cursor: pointer; 
			background-color: rgb(37, 75, 151);
		}
	}
}