@import "variables";

html {
	font-family: 'Roboto', sans-serif !important;
	font-size: 100%;
	@media print {
		font-size: 75%;
	}
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif !important;
	overflow-y: scroll;
	min-height: 100%;
	border-bottom: 2rem solid #444;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: .5rem; 
}

.logo {
	margin-right: 1rem;
}
.logo, .logo-text {
	display: inline-block !important;
}

.figure-img {
	box-shadow: 1px 1px 15px -3px rgba(0,0,0,0.4);
}

#totop {
	width: 2.5rem; 
	height: 2.5rem;
	padding: .55rem .75rem;
	position: fixed; 
	right: 1rem; 
	bottom: 3rem; 
	color: white; 
	background: #444; 
	border-radius: 100%;
	z-index: 1000;
	cursor: pointer;
	&:hover {
		background: #888;
	}
	&:active {
		background: #222;
	}
	.icon {
		vertical-align: top; 
	}
}
nav.navbar.navbar-dark.bg-primary {
	padding: 0;
	padding-top: 0.50rem;
}


.navbar-nav .nav-link {
	display: block;
	padding: 1.2rem 1rem;
	margin-top: -0.5rem;
}

.navbar-nav .nav-link:hover {
	background-color: darken($primaryColor, 20%);
}

.navbar-nav .nav-item + .nav-item {
	margin-left: 0; 
}

.main {
	padding-top: 1rem;
}


/* LESSONS */
.figure {
	padding: 1rem 2rem; 
	&.full-width {
		border-top: .2rem solid $primaryColor; 
		border-bottom: .2rem solid $primaryColor; 
		width: 100%;
		display: block;
	}
	&.normal {
		border-left: .5rem solid #8F8F8F;
		width: 100%;
		background: #EEE;
		padding: 1rem;
		img {
			margin: 0; 
		}
		figcaption {
			margin: .25rem 0 0 0; 
		}
	}
	@media (max-width: 960px) {
		padding: 1rem 0; 
	}
}

.lesson {
	h1, h2, h3, h4, h5, h6 {
		margin-top: 3rem;
		padding-bottom: 0.5rem;
	}
	h1, h2 {
		margin-top: 1.5rem; 
	}
	table {
		width: 100%
		thead {
			th {
				padding: 1rem;
				border-top: 1px solid #ccc; 
				border-bottom: 2px solid #ccc; 
			}
		}
		tbody {
			tr {
				td {
					border-bottom: 1px solid #ccc;
					border-top: 1px solid #ccc;
					padding: 1rem; 
				}
				&:nth-child(even) {
					background-color: #f5f5f5;
				}
			}
		}
		code {
			border: 1px solid #ccc;
			color: #62c8f3; 
			background: #333; 
		}
	}
	
	.code-title {
		color: #888;
		margin-bottom: -1rem;
		font-style: italic; 
		display: block; 
	}
	.example {
		padding: 1rem; 
		background-color: white;
		border: .2rem solid #ccc;
		border-radius: .5rem; 
		ul {
			list-style-type: disc; 
		}
	}
	a.btn + a.btn {
		margin-left: 1rem;
	}
	
	.result, .lesson-completed-area {
		@extend .bottom-border;
	}
	
	blockquote {
		padding: .5rem .25rem; 
		background: #eee; 
		overflow: hidden;
		> :last-child {
			padding-bottom: 0; 
			margin-bottom: 0; 
		}
		p {
			vertical-align: middle;
			height: 100%;
			margin: 0; 
			padding: 0; 
		}
		&.protip {
			padding-left: 3.5rem;
			border-left: .5rem solid $blue;
			p:first-of-type:before {
				color: $blue;
				display: inline-block;
				height: 100%;
				font-family: 'ipw-icons';
				font-size: 32px; 
				margin-left: -2.75rem; 
				margin-right: .75rem; 
				content: $icon-info;
				vertical-align: middle;
			}
		}
	}
	li .hljs {
		display: inline-block;
	}
	li pre {
		margin: 0; 
	}
}

.lesson-completed-area {
	padding: 150px 0 75px 0 !important; 
	overflow: hidden;
	display: block; 
	clear: both;
	.pirate-ready {
		max-height: 200px;
		float: left;
		margin-right: 2rem;
	}
	.speech-bubble {
		font-family: 'Pirata One', cursive;
		position: relative;
		top: -50px;
		padding: 1.5rem;
		float: left; 
		background: #FFFFFF;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		border-radius: 25px;
		border: #ccc solid 4px;
		&:after {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 11px 17px 11px 0;
			border-color: transparent #FFFFFF;
			display: block;
			width: 0;
			z-index: 1;
			margin-top: -11px;
			left: -17px;
			top: 90px;
		}
		&:before {
			content: '';
			position: absolute;
			border-style: solid;
			border-width: 14px 20px 14px 0;
			border-color: transparent #ccc;
			display: block;
			width: 0;
			z-index: 0;
			margin-top: -14px;
			left: -24px;
			top: 90px;
		}
		@media (max-width: 48em) {
			&:after {
				border-width: 0 11px 17px;
				border-color: white transparent;
				margin-top: -11px;
				left: 49px;
				top: -6px;
			}
			&:before {
				border-width: 0 14px 20px;
				border-color: #ccc transparent;
				margin-top: 0;
				left: 46px;
				top: -23px;
			}
		}
		h4, p {
			font-size: 1.75rem;
		}
		p {
			margin: 1rem 0 0 0; 
		}
		.choices {
			margin: 1rem auto;
			text-align: center;
		}
		.btn {
			font-family: 'Roboto', sans-serif;
			margin: 0 1rem;
		}
	}
}


.lessons {
	.list-group-item {
		.name, .icon {
			vertical-align: middle; 
		}
	}
	.list-group-item-success .hidden-xs-up {
		display: inline-block !important;
	}
}
.hljs {
	@media print {
		white-space: pre;
		word-break: break-word;
	}
}

code {
	color: $primaryColor;
	font-weight: bold; 
	&.hljs {
		font-weight: normal; 
		color: white; 
		@media print {
			color: #444;
		}
	}
	@media print {
		border: 1px solid #e5e5e5;
		background: #f7f7f9 !important;
	}
}

.path, .file {
	code {
		color: #bd4147;
		&:after {
			content: "\e098";
			font-family: 'ipw-icons';
			color: rgba(0, 0, 0, 0.3);
			margin-left: .5rem;
			vertical-align: bottom; 
		}
	}
	height: auto; 
}

.file code:after{
	content: "\e077";
}

.folder-navigation {
	background: #f5f5f5;
	padding: 1rem 0; 
	nav, ul {
		vertical-align: middle; 
	}
}

.page-item {
	&.page-item-success .page-link{
		color: #fff;
		background-color: #5cb85c;
		border-color: #419641;
		&:hover {
			color: #fff;
			background-color: #449d44;
			border-color: #419641;
		}
	}
	&.active.page-item-success .page-link {
		background-color: #449d44;
	}
}

.page-link:focus, .page-link:hover {
	text-decoration: none;
}

.btn {
	.icon, .text {
		vertical-align: middle;
	}
}

/** PAGES **/
/* FRONTPAGE */
.klikher {
	display: none;
	height: auto; 
	max-height: 75px; 
	position: absolute;
	top: 1rem; 
	left: 22rem;
	@media (max-width: 48em) {
		left: 2rem; 
	}
}
.kodekiste > img{
	height: auto; 
	max-height: 200px; 
}
.kodekiste {
	font-family: 'Pirata One', cursive;
	h1 {
		color: #A85E00;
		font-size: 3rem;
		text-shadow: 1px 1px 0px #241700; 
	}
	h2 {
		font-size: 3rem; 
		color: #FBFA59;
		text-shadow: #E8CD2B 0 1px 0, #DCAF21 0 2px 0, #D6A11E 0 3px 0, #D2971B 0 4px 0, #C9761C 0 5px 0, rgba(0, 0, 0, .1) 0 6px 1px, rgba(0, 0, 0, .1) 0 0 5px, rgba(0, 0, 0, .3) 0 1px 3px, rgba(0, 0, 0, .15) 0 3px 5px, rgba(0, 0, 0, .2) 0 5px 10px, rgba(0, 0, 0, .2) 0 10px 10px, rgba(0, 0, 0, .1) 0 20px 20px;
		span {
			font-family: consolas, monospace;
			color: #5CADF3;
			text-shadow: #2C8BDC 0 1px 0, #1A82DC 0 2px 0, #167CD4 0 3px 0, #1476C9 0 4px 0, #0D65B0 0 5px 0, rgba(0, 0, 0, .1) 0 6px 1px, rgba(0, 0, 0, .1) 0 0 5px, rgba(0, 0, 0, .3) 0 1px 3px, rgba(0, 0, 0, .15) 0 3px 5px, rgba(0, 0, 0, .2) 0 5px 10px, rgba(0, 0, 0, .2) 0 10px 10px, rgba(0, 0, 0, .1) 0 20px 20px;
		}
	}
}

.frontpage > .jumbotron {
	padding-top: 0rem; 
}

.frontpage > .jumbotron > .container {
	padding-top: 10rem; 
	position: relative; 
}

.frontpage .cp-logo {
	height: auto; 
	max-height: 50px; 
}
.minicolors label {
	display: block; 
}
.minicolors-theme-default .minicolors-input {
	height: 34px;
}

@media (max-width: 48em) {
	.navbar-brand {
		display: block;
		width: 100%;
	}
}

#intro-fullspeed {
	@media print {
		height: 100px;
	}
}

@media print {
	.result .btn,
	#totop,
	.result	{
		display: none;
	}
	body {
		border: 0; 
	}
	.lesson li .hljs {
		display: block; 
	}
	.lesson li pre {
		margin: .5rem 0;
	}
	blockquote, pre {
		border: 0; 
	}
	.protip {
		p:first-of-type:before {
			color: $blue;
			display: inline-block;
			height: 100%;
			font-family: 'ipw-icons';
			font-size: 20px !important; 
			margin-left: -2.75rem; 
			margin-right: .75rem; 
			content: $icon-info;
			vertical-align: middle;
		}
	}
	.lesson {
		img {
			box-shadow: 1px 1px 15px -3px rgba(0,0,0,0.4) !important;
			border: 1px solid #888;
		}
		h1, h2, h3, h4, h5, h6 {
			margin-top: 1.5rem;
		}
	}
}